:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-additional: #188ce8;

  --primary-color: #ffffff;
  --primary-alfa-color: rgba(255, 255, 255, 0.6);

  --accent-background-color: #2f303a;
  --additional-background-color: #f5f4fa;

  --border-color: #eeeeee;

  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.centered {
  text-align: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

/* Header */

.header {
  border-bottom: 1px solid;
  border-color: #ececec;
}

.navigation-contact {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.accent {
  color: var(--accent-color);
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.header .item:not(:last-child) {
  margin-right: 50px;
}

.list-item:hover,
.list-item:focus {
  color: var(--accent-color);
}

.header .list-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  align-items: center;
}

.contact .list-item {
  display: flex;
  align-items: center;
}



.icon-envelope {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.icon-smartphone {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.list-item:hover .icon-envelope {
  fill: var(--accent-color);
}

.list-item:hover .icon-smartphone {
  fill: var(--accent-color);
}

/* Hero section */

.hero,
.footer {
  background-color: var(--accent-background-color);
}

.hero {
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-additional);
}

/* Our advantages section */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list {
  display: flex;
}

.advantages-list .advantages-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--additional-background-color);
}

.advantages-card svg {
  width: 70px;
  height: 70px;
}

.advantages-title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages-text {
  margin: 0;
}

/* What we do section */

.what-we-do {
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
}

/* Our team section*/

.team {
  background-color: var(--additional-background-color);
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list .item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin: 0;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 0;
}

.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-social .icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  display: block;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--primary-color);
}


/* Our clients */

.clients {
  display: flex;
}

.clients-link {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients .icon {
  display: block;
  fill: var(--icon-color);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-all {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--primary-color);
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address-item-main {
  color: var(--primary-color);
}

.address-list .item:not(:last-child) {
  color: var(--primary-alfa-color);
  margin-bottom: 9px;
}

.footer-join {
  margin-left: 70px;
}

.join-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-link .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
}

/* Our works section*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}

.btn:hover,
.btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works .item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}

.works .link {
  display: block;
}

.works .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works .item:nth-child(3n) {
  margin-right: 0;
}

.works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-border {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: var(--border-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.img {
  display: block;
}

.our-works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0;
}

.our-works-text {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
  margin-bottom: 0;
}