:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-additional: #188ce8;

  --primary-color: #ffffff;
  --primary-alfa-color: rgba(255, 255, 255, 0.6);

  --accent-background-color: #2f303a;
  --additional-background-color: #f5f4fa;

  --border-color: #eeeeee;

  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.centered {
  text-align: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.item:not(:last-child) {
  margin-right: 30px;
}

/* Header */

.page-header {
  border-bottom: 1px solid;
  border-color: #ececec;
}

.navigation-contact {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}


.logo__text {
  color: var(--accent-color);
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  align-items: center;
}


.contact__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover .contact__icon {
  fill: var(--accent-color);
}

/* Hero section */

.hero,
.page-footer {
  background-color: var(--accent-background-color);
}

.hero {
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 32px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--accent-color-additional);
}

/* Our advantages section */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages__list {
  display: flex;
}

.advantages__list .advantages__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--additional-background-color);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages__text {
  margin: 0;
}

/* What we do section */

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do__title,
.team__main-title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.what-we-do__list {
  display: flex;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team section*/

.team {
  background-color: var(--additional-background-color);
}

.team__list {
  display: flex;
  text-align: center;
}

.team__item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin: 0;
}

.team__text {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 0;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--primary-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Our clients */

.clients__list {
  display: flex;
}

.clients__link {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.clients__icon {
  display: block;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

/* Footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__all {
  display: flex;
  align-items: baseline;
}

.page-footer__logo {
  color: var(--primary-color);
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address__item {
  color: var(--primary-alfa-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
  margin-right: 0;
}

.address__link--accent {
  color: var(--primary-color);
}

.footer-join {
  margin-left: 70px;
}

.footer-join__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 20px;
}


.footer-join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join__link:hover,
.footer-join__link:focus {
  background-color: var(--accent-color);
}

.footer-join__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
}

.subscribe {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
}

.subscribe__label {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  height: 50px;
  width: 358px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--accent-background-color);
}

.subscribe__form .subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscribe__icon {
  fill: var(--primary-color);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Our works section*/

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__btn:hover,
.button-list__btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}

.works__item:nth-child(3n) {
  margin-right: 0;
}

.works__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__wrap {
  position: relative;
  overflow: hidden;
}


.works__img {
  display: block;
}

.works__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  color: var(--primary-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__link:hover .works__paragraph,
.works__link:focus .works__paragraph {
  transform: translateY(0);
}

.works__card-border {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: var(--border-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.works__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0;
}

.works__text {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
  margin-bottom: 0;
}



/* Backdrop + modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus .close-btn__icon,
.close-btn:hover .close-btn__icon {
  fill: var(--accent-color);
}

.form {
  padding: 40px;
}

.form__paragraph {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}


.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__field:not(:last-of-type) {
  margin-bottom: 10px;
}


.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
}

.form__icon {
  position: absolute;
  top: 33px;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.policy__checkbox {
  appearance: none;
  position: absolute;
}

.policy__checkbox:checked + .policy__icon {
  border-color: transparent;
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-origin: border-box;
  width: 16px;
  height: 15px;
}

.policy__icon {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
}

.policy__link {
  color: var(--accent-color);
}

.send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--accent-color-additional);
}
