@import "./utils/variables";
@import './utils/general';
@import './components/logo';
@import './components/header';
@import './components/hero-section';
@import './components/our-advantages';
@import './components/what-we-do';
@import './components/our-team';
@import './components/our-clients';
@import './components/footer';
@import './components/our-works';
@import './components/modal';