.advantages {
  @media screen and (min-width: $mobile) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.advantages__list {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.advantages__item {

  @media screen and (min-width: 480px) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.advantages__item:not(:last-child) {
  @media screen and (min-width: $mobile) and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.advantages__card {
  height: 120px;
  border-radius: 4px;
  background-color: $additional-background-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;


  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    text-align: center;
  }
}

.advantages__text {
  margin: 0;
}
