  
.what-we-do {
    padding-bottom: 94px;
  }
  
  .what-we-do__title,
  .team__main-title,
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: $title-text-color;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .what-we-do__list {
    display: flex;
  }
  
  .what-we-do__item {
    position: relative;
  }
  
  .what-we-do__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: $primary-color;
    background-color: rgba(47, 48, 58, 0.8);
  }