$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-color-additional: #188ce8;

$primary-color: #ffffff;
$primary-alfa-color: rgba(255, 255, 255, 0.6);

$accent-background-color: #2f303a;
$additional-background-color: #f5f4fa;

$border-color: #eeeeee;

$icon-color: #afb1b8;